<header class="site-header">
    <div class="navbar">
        <div class="navbar-left">
            {{> logo}}
        </div>
        {{#if @site.navigation}}
        <nav class="main-menu hidden-xs hidden-sm hidden-md">
            {{navigation}}
        </nav>
        {{/if}}
        <div class="navbar-right">
            <img src="/assets/images/search_black_24dp.svg" alt="search">
            <form class="search-form">
                <input id="search-field" class="search-field" />
            </form>
            {{> burger}}
        </div>
    </div>
</header>