<a class="social-media-item" href="https://github.com/illacloud/illa-builder" target="_blank">
  {{> "icons/github"}}
  <span>Star us</span>
</a>
<div class="social-media-separator"></div>
<a class="social-media-item" href="https://discord.gg/illacloud" target="_blank">
  {{> "icons/discord"}}
  <span>Join Discord</span>
</a>